.App {
color:white;
align-items: center; 
font-family: cursive;
background-size: 50px;
background-size: cover;




/*background-repeat: no-repeat;
background-size:cover;
display:inline-block;
width:  100px;
height: 100vh;

margin-top: auto;
} */
}